@font-face {
    font-family: Nightmare;
    src: url(/Nemo\ Nightmares.ttf);
}

.Nightmare{
    font-family: Nightmare;
}

@font-face {
    font-family: Zombie;
    src: url(/Zombie_Holocaust.ttf);
}

.Zombie{
    font-family: Zombie;
}

@font-face {
    font-family: Midnight;
    src: url(/SecretMidnight-518n8.otf);
}

.Midnight{
    font-family: Midnight;
}
